/*
 * Stylesheet for the association pages
 */

.association_menu {
  width: 100%;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 2em;
  color: #FFF;
}

.association_menu_headline {
  font-weight: bold;
}

.association_menu_url {
  font-weight: bold;
}

