/*
 * Stylesheet for the target_group pages
 */

.target_group_headline_container {
}

.target_group_circle_image {
  width: 7em;
  margin-left: -25em;
  margin-bottom: 0.5em;
}

.target_group_headline {
  background-color: #c62026;
  height: 1.7em;
  font-size: 1.5em;
  color: #FFFFFF;
  width: 100%;
  padding-left: 8em;
  padding-right: 8em;
}

.target_group_desc_container {
  width: 100%;
}

.target_group_desc_col {
  width: 33%;
  display: inline-block;
}

.target_group_desc_headline {
  font-size: 1.5em;
  color: #c62026;
}

.target_group_contact_headline {
  font-size: 1.2em;
  color: #c62026;
  padding-top: 1.5em;
}

.target_group_contact_container {
  display: inline-block;
  width: 100%;
}

.target_group_contact_entry {
  width: 33%;
  clear: both;
  display: inline-block;
}

.target_group_contact_image {
  width: 87px;
  display: block;
}

.target_group_content {
  padding-top: 1.5em;
}
