/*
 * Stylesheet for the target_group pages
 */

.target_group_headline_container {
  clear: both;
}

.target_group_headline {
  background-color: #c62026;
  line-height: 1.5em;
  font-size: 2em;
  color: #FFFFFF;
  display: inline-block;
  width: 30%;
}

.target_group_desc_headline {
  font-size: 1.5em;
  color: #c62026;
}

.target_group_contact_headline {
  font-size: 1.2em;
  color: #c62026;
  padding-top: 1.5em;
}

.target_group_contact_container {
  display: inline-block;
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
}

.target_group_contact_entry {
  width: 33%;
  clear: both;
  display: inline-block;
}

.target_group_contact_image {
  width: 87px;
  float: left;
  padding-right: 0.5em;
}

.target_group_content {
  padding-top: 1.5em;
}

/* Flexible layout */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {

.target_group_headline_container {
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  clear: both;
}

.target_group_headline {
  padding-left: 4em;
  padding-right: 4em;
}

.target_group_circle_image {
  width: 3.5em;
  margin-left: -15em;
  margin-bottom: 0.2em;
}

.target_group_desc_container {
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
}

.target_group_desc_col {
  width: 100%;
}

.responsible_container {
  width: 98%;
  padding-left: 1%;
  padding-right: 1%;
}

.target_group_contact_entry {
  width: 49%;
}

}

@media only screen
and (min-width : 481px) {

.target_group_headline_container {
  width: 88%;
  padding-left: 6%;
  padding-right: 6%;
}

.target_group_headline {
  padding-left: 20%;
}

.target_group_circle_image {
  width: 11em;
  margin-left: -45%;
  margin-bottom: 0.5em;
}

.target_group_desc_container {
  width: 88%;
  padding-left: 6%;
  padding-right: 6%;
}

.target_group_desc_col {
  width: 29%;
  display: inline-block;
  vertical-align: top;
}

.target_group_desc_col_left {
  padding-right: 3%;
}

.target_group_desc_col_middle {
  padding-right: 3%;
  padding-left: 3%;
}

.target_group_desc_col_right {
  padding-left: 3%;
}

.responsible_container {
  width: 88%;
  padding-left: 6%;
  padding-right: 6%;
}

.target_group_contact_entry {
  width: 33%;
}

}
